<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div class="create-blog content">
    <h2><%=blog.title%></h2>
    <h3><%=blog.snippet%></h3>
    <br>
    <!-- <div class="content">
        <textarea>
          <%=blog.body %>
        </textarea>
      </div> -->
      <%-blog.body %>
    <br>
    <br>
    <script>
      var x = document.cookie.split('; ')
                .find(row => row.startsWith('Name'))
                .split('=')[1];
      if (x !== undefined) {
        var delete_button='<a class="delete" data-doc="<%= blog._id%>">Delete</a>';    
        document.write(delete_button);
      }
    </script>
  </div>
  <%- include("./partials/footer.ejs") %>
  
  <script>
    const trashcan =document.querySelector('a.delete');

    trashcan.addEventListener('click',(e)=>{
      const endpoint =`/blogs/${trashcan.dataset.doc}`;
      fetch(endpoint,{
        method:'DELETE'
      })
      .then((response)=>response.json())
      .then((data)=> window.location.href = data.redirect)
      .catch(err=> console.log(err))
    })
  </script>

</body>
</html>